#dice-component{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3F0D10;;
    position: absolute;
    top: 45%;
    right: 1rem;
    width: 3rem; 
    height: 3rem;
    border-radius: 10%;
    position: fixed;
    cursor: pointer;
    transition: transform 1s ease-out;
}
.face-1 {
    background-image: url('./dice1.png');
  }
  
  .face-2 {
    background-image: url('./dice2.png'); 
  }
  
  .face-3 {
    background-image: url('./dice3.png'); 
  }
  
  .face-4 {
    background-image: url('./dice4.png'); 
  }
  
  .face-5 {
    background-image: url('./dice5.png'); 
  }
  
  .face-6 {
    background-image: url('./dice6.png');
  }
  
  .rolling {
    animation: rollAnimation 1s ease-out;
  }
  
  .dice-face {
    position: absolute;
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  @keyframes rollAnimation {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        transform: rotateX(180deg) rotateY(360deg) rotateZ(180deg);
      }
    75% {
        transform: rotateX(0deg) rotateY(1080deg) rotateZ(540deg);
      } 
    100% {
      transform: rotateX(180deg) rotateY(720deg) rotateZ(360deg);
    }
  }
  