.pop-up-block {
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(203, 187, 166);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60dvw;
    height: 80dvh;
    padding: 15px;
    z-index: 10001;
}
.pop-up-block>* {
    padding: 15px 0px;
}

.pop-up-question-block {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
#question-image{
    position: absolute;
    top: 26%;
    left: 47%;
    width: 25rem;
    height: 15rem;
}
.pop-up-question-block>* {
    padding: 10px 0px;
}

.pop-up-question-block p {
    color: black;
    font-size: 1.5em;
}

.pop-up-question-block .question-block {
    padding-left: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pop-up-code-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.pop-up-code-block button {
    background-color: rgb(49, 48, 48);
    border: 0px solid black;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

.pop-up-code-block textarea {
    color: white;
    border: 0px solid black;
    background-color: rgb(49, 48, 48);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: .8em;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
}

.pop-up-compiler-block {
    display: flex;
}

.pop-up-compiler-block iframe {
    height: 25em;
    width: 35em;
}


.pop-up-bottom-block {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.pop-up-question-block img {
    width: 100%; 
    height: auto; 
    max-height: 400px; 
    border-radius: 10px;
}
#pop-up-code-block-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#pop-up-code-block-img textarea {
    margin-left: -50%;
    resize: none;
}
#pop-up-block-hard{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 70rem;
    justify-content: space-around;
    font-size: 1rem;
}
#pop-up-block-hard .pop-up-code-block{
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}
#compiler-dynamic-button{
    border: 3px solid #3F0D10;
    padding: 0.5rem;
}
#pop-up-block-hard #compiler-dynamic-button{
    position: absolute;
    left: 70%;
    bottom: 13%;
}
#pop-up-block-hard textarea{
    resize: none;
}