#dice-box{
    position: absolute;
    right: 0;
    margin-right: 2%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
    background-color: black;
    border-radius: 100%;
    padding: 1%;
    cursor: pointer;
}