.map-page-container {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    padding: 5em 0em;
    background-color: #D7A357;
    padding-left: 2em;
}

.score-block {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 9999;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-over-block {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../Assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
    font-size: 4em;
    color: white;
}

.leader-board-button {
    position: fixed;
    top: 3rem;
    left: 1rem;
}

.guide-lines-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2em;
    height: 2em;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.guide-lines-button:active {
    transform: scale(1.1);
}