.row-head {
    display: flex;
    flex-direction: row;
}

.row-head:nth-child(even) {
    flex-direction: row-reverse !important;
}
.snakes-gif{
    mix-blend-mode: darken;
    z-index: 5000!important;
}
.block-number {
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.block-head {
    width: 8dvw;
    height: 8dvw;
    background-color: #fff;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border: thick solid brown;
    position: relative;
    flex-direction: column;
    font-size: 1.3dvw;
}


.block-head img {
    position: absolute;
    left: 50%;
    z-index: 5000!important;
    pointer-events: none;
}

.snake-id-26 {
    transform: scaleX(-1.4) translate(370px,130px);
}

.snake-id-13 {
    transform: translate(-340px,80px) scale(0.6);
}

.snake-id-55 {
    transform: translate(-330px, 120px);
}

.snake-id-91 {
    transform: rotate(120deg) translate(300px,30px);
}

.snake-id-75 {
    transform: translate(-160px,10px) scale(0.5);
}

.snake-id-98 {
    transform: translate(-160px,0px) scale(0.5);
}

.snake-id-62 {
    transform: rotate(135deg) translate(340px,-20px);
}

.snake-id-44 {
    transform: translate(-460px,130px) scaleX(-0.8);
}
.snake-id-85{
    transform: translate(-460px,120px) scaleX(-0.8) scaleY(1);
}
.block-id-16 {
    width: 5dvw;
    height: 20em;
    transform: translate(200%, -17%) rotate(68deg);
    display: none;
}
#block-id-names98{
    box-shadow: inset 4px 4px 32px red;
}

#block-id-names75{
    box-shadow: inset 4px 4px 32px red;
}


#block-id-names62{
    box-shadow: inset 4px 4px 32px yellow;
}

#block-id-names91{
    box-shadow: inset 4px 4px 32px yellow;
}

#block-id-names85{
    box-shadow: inset 4px 4px 32px green;
}

#block-id-names55{
    box-shadow: inset 4px 4px 32px green;
}

#block-id-names44{
    box-shadow: inset 4px 4px 32px green;
}

#block-id-names26{
    box-shadow: inset 4px 4px 32px green;
}
#block-id-names13{
    box-shadow: inset 4px 4px 32px green;
}
.block-id-19,
.block-id-30,
.block-id-41,
.block-id-52,
.block-id-63,
.block-id-74 {
    width: 5dvw;
    transform: translate(-50%, -50%);
    height: 14em;
}
.block-id-65 {
    width: 5dvw;
    transform: translate(362%, -20%) rotate(66deg);
    height: 33em;
}

.block-head .no-of-users-count {
    opacity: .5;
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: black;
}
.no-of-users-count{
    cursor: pointer;
}
.token-block {
    position: relative;
    width: inherit;
    height: inherit;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.token-block img {
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 5em;
    height: 5em;
}