body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#start-button{
    padding: 10px;
    position: absolute;
    top: 4rem;
    right: 1rem;
}
#game-guide-button{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 10px;
    border-radius: 50%;
}