
#Guide-Lines{
    background-color: white;
    position: absolute;
    top: 25%;
    left: 13%;
    border: 1px solid black;
    border-radius: 5px;
    width: 70dvw;
    height: 50dvh;
    padding: 0 2rem 2rem 2rem;
    animation: scaleAnimation 0.7s ease;
    position: fixed;
    z-index: 1500;
}
#Guidelines-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@keyframes scaleAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
