#Guide-Lines {
    position: absolute;
    top: 17%;
    left: 9.5%;
    border: 1px solid #3F0D10;
    background-color: #b1a996;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    width: 70dvw;
    height: 50dvh;
    padding: 2rem 4rem;
    animation: scaleAnimation 0.7s ease;
    position: fixed;
    z-index: 100000;
}

#Guidelines-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #3F0D10;
}

@keyframes scaleAnimation {
    0% {
        top: 0;
        opacity: 0;
    }

    100% {
        top: 17%;
        opacity: 1;
    }
}

#guidelines ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
}