#timer {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    width: fit-content;
    height: fit-content;
    position: fixed;
    border: 3px solid #3F0D10;
    background-color: #EAD196;
}